/**  Let do Mobile F1rst */

.header {
  position: absolute;
  top: 24px;
  right: 0;
  left: 0;
  z-index: 5;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header__logo {
  width: 120px;
  color: #2C2826;
  background-color: transparent;

  @media (min-width: 768px) {
    width: 164px;
  }
}

.header__cart {
  color: dimgray;

}
.header__cart:hover {
  color: #000;
}