.toppings {
  display: block;
  padding: 24px 0;
}

.toppings__container {
  border: 1px solid lawngreen;
}

/* in mobile hidden */
.toppings__title {
  position: fixed;
  transform: scale(0);
}


.toppings__btn {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: var(--dark);
  gap: 4px;
  align-items: center;
}

.toppings__arrow {
  transform: scaleY(1);
  transition: transform 300ms ease;
}
.toppings__btn_active .toppings__arrow {
  transform: scaleY(-1);
}


/* hidden list */
.toppings__list {
  display: none;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.toppings__list_show {
  display: flex;
}


.toppings__item {
  display: flex;
}
.toppings__checkbox {
  /* position: absolute; */
  /* display: none; */
  /* appearance: none; */
  /* -webkit-appearance: none; */
}
.toppings__checkbox:focus  {

}
.toppings__checkbox:checked + .toppings__label {
  background-color: var(--orange);
  color: var(--light);
}


.toppings__label {
  display: block;
  font-size: 14px;
  border-radius: 32px;
  padding: 8px 24px;
  color: var(--beige);
  background-color: var(--white);
}